body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

img { 
  width: 250px;
}

h1 {
  font-size: calc(2vw + 2rem);
}