---
title: TeamGeekery
img: /img/teamgeekery-logo.svg
img_alt: team geekery logo
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ title }}</title>
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b75fe21cfb6340228fd5b2818b479078"}'></script><!-- End Cloudflare Web Analytics -->
</head>
<body>
  <main>
    <img src="{{ img }}" alt="{{ img_alt }}">
    <h1>{{ title }}</h1>
  </main>
</body>
</html>
